body {
  /* opacity: 1.0;
  -webkit-transition: background 1.5s linear;
  -moz-transition: background 1.5s linear;
  -o-transition: background 1.5s linear;
  -ms-transition: background 1.5s linear;
  transition: background 1.5s linear;
  transition: background-image 1s ease-in-out;
  background-image: url(../../../images/global/white.png);
  padding-top: 20px; */
}

.wrapper {
  width: 100%;
  align-items: stretch;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

#sidebar p{
  margin-top: -7px;
  padding-top: 0;
  font-size: 1rem;
  padding-bottom: 0;
  padding-left: 4px;
  margin-bottom: 4px;
}

/* #sidebar li:hover {
  background-color: rgb(255, 255, 255);
} */

#sidebar {  
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  color: black;
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  
  /* border-right: solid; 
  border-right-color: black" */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#sidebarCollapse {
  font-size: 1.5rem !important;
}

#sidebar.active {
  margin-left: -420px;
}

#openSidebar {
  position: fixed;
  left: 20px;
  top: 20px;
  transition: all 0.5s;
  z-index: 999;
}

.itlAddr {
    position: absolute;
    bottom: 5px;
}

.fixedRightOver {
  left: 360px !important;
  background-color: white;
}

.top-right {
  position: fixed;
  right: 20px;
  top: 20px
}

.bottom-right {
  position: fixed;
  right: 35px;
  bottom: 40px;
}

.bottom-right img {
  max-width: initial;
}


.top-right {
  position: fixed;
  right: 35px;
  top: 40px;
}

.top-right img {
  max-width: initial;
}

.topnav {
  margin-left: 100px;
  margin-right: 100px;
  background-color: white !important;
  border-top-color: orange;
  /* border-top-style: solid; */
}

#sidebar-content ul {
  margin: 0.75em 0;
  padding: 0 1em;
  list-style: none;
}
#sidebar-content ul li:before { 
  content: "";
  border-color: transparent black;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9em;
  position: relative;
}


p {
  font-size: .95rem;
  /* line-height: 1.95; */
  /* padding-bottom: 10px; */
  /* padding-top: 10px; */
  font-family: 'IBM Plex Mono', sans-serif;
  /* font-weight: 500; */
}

h1 {
  font-size: 4.8rem;
  color: rgb(44, 44, 44);
  text-rendering: geometricPrecision;
  text-align: center;
}

.homebreak {
  margin-top: 12px;
  margin-bottom: 38px;
  border-top: 5px solid rgba(0,0,0,1) !important;
}

table,
th,
td {
  border: 2px solid rgb(62, 62, 62);
  padding: 12px;
}

u {
  background-color: #d9ffc8 !important;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 2px;
  font-size: .9em;
  display: block;
  text-decoration: none;
  padding-top: 5px;
  text-align: center !important;
  padding-bottom: 5px;
}

th tr td {
  border: 2px solid rgb(0, 0, 0);
}


tbody :nth-child(even) td {
  background-color: #ececec;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: 'Ibm Plex Mono';
  font-size: 13px;
  font-weight: bold;
}

th {
  font-size: 1em;
}

.table a {
  display: block;
  text-decoration: none;
}

a {
  color: #000000 !important;
}

.principleDescription {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 0;
  max-width: 600px;
}

.principleTable {
  border: none;
}

.principleTable tr,
td,
th {
  /* border: none; */
}

.dependencyTable th {
  background-color: #ffdfae;
}

.platformTable th {
  background-color: #d9ffae;
}

.cards {
  margin-right: auto;
  margin-left: auto;
}

.container-narrow {
  margin: 0 auto;
  min-width: 300px !important;
  max-width: 1300px !important;
}

/* .container-content {
  padding-top: 60px;
} */

.container-narrow>hr {
  margin: 30px 0;
}

.navbar .nav {
  float: right;
}

.navbar .ui {
  padding: 0;
}

.navbar-inner {
  border: none;
  border-radius: 0;
}

.brand {
  font-family: 'Inconsolata', monospace;
  text-transform: uppercase;
  color: rgb(255, 255, 255) !important;
  /* Overrides bootstrap.min.css */
  text-shadow: none;
  text-rendering: geometricPrecision;
  font-weight: normal;
}

/* posts index */
.post>h3.title {
  position: relative;
  padding-top: 10px;
}

.post>h3.title span.date {
  text-align: center;
}

.post>.more {
  margin: 10px 0;
  text-align: left;
}

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold;
}

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden;
}

.tag_box li {
  line-height: 28px;
}

.tag_box li i {
  opacity: 0.9;
}

.tag_box.inline li {
  float: left;
}

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc;
}

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em;
}

.tag_box a:hover {
  background-color: #e5e5e5;
}

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF;
}

.content {
  background-color: white;
  margin: auto;
}

#content {
  transition: margin-left .5s;
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
}


blockquote {
  text-align: center;
  border-top-color: black;
  border-top: solid;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}

blockquote p {
  font-size: 1rem !important;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  /* padding-top: 0 !important;
  margin-top: 0 !important; */
}

.introtext {
  color: rgb(0, 0, 0);
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: rgb(3, 3, 3);
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: rgb(0, 0, 0);
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 17px;
  line-height: 26px
}

/*
.##.....##.########....###....########..########.########.
.##.....##.##.........##.##...##.....##.##.......##.....##
.##.....##.##........##...##..##.....##.##.......##.....##
.#########.######...##.....##.##.....##.######...########.
.##.....##.##.......#########.##.....##.##.......##...##..
.##.....##.##.......##.....##.##.....##.##.......##....##.
.##.....##.########.##.....##.########..########.##.....##
*/

h2,
h3,
h4,
h5 {
  padding-top: 20px;
}

h2 {
  text-rendering: geometricPrecision;
  font-size: 2.3em;
  padding-bottom: 30px;
  /* margin-top: 60px; */
  font-size: 3.4em;
  font-family: 'Rubik', sans-serif;
}
h3 {
  text-rendering: geometricPrecision;
  font-size: 2.3em;
  padding-bottom: 30px;
  /* margin-top: 60px; */
  font-size: 2.6em;
  font-family: 'Rubik', sans-serif;
}


h4 {
  font-size: 1.4em !important;
  font-weight: bold;
}

li {
  font-family: "IBM Plex Mono", monospace
}

/*
..######..########.##......
.##....##.##.......##......
.##.......##.......##......
..######..######...##......
.......##.##.......##......
.##....##.##.......##......
..######..########.########
*/

p::-moz-selection {
  background: #fff2a8;
}

p::selection {
  background: #fff2a8;
}

strong::selection {
  background: #fff2a8;
}

a::selection {
  background: rgb(238, 252, 255);
}

h2::selection {
  background: black;
  color: white;
}

blockquote p::selection {
  background: #e5caff;
}

code {
  background-color: rgb(27, 25, 27) !important;
  color: white;
  background-color: inherit !important;
  /* color: white; */
  /* margin: 20px !important; */
}

pre {
  color: white;
  background-color: #a996c0;
  padding: 40px;
}

.page-header {
  padding-top: 50px;
  text-align: center;
  font-style: italic;
}

.principle-desription {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 40px;
  line-height: 40px;
  color: gray;
}

center {
  font-family: 'IBM Plex Mono', monospace;
  font-style: italic;
}

/*
.##......##.########.########..##....##.####.########
.##..##..##.##.......##.....##.##...##...##.....##...
.##..##..##.##.......##.....##.##..##....##.....##...
.##..##..##.######...########..#####.....##.....##...
.##..##..##.##.......##.....##.##..##....##.....##...
.##..##..##.##.......##.....##.##...##...##.....##...
..###..###..########.########..##....##.####....##...
*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/*
..######..##....##.########.########..######..##.....##.########....###....########.
.##....##.##...##..##..........##....##....##.##.....##.##.........##.##...##.....##
.##.......##..##...##..........##....##.......##.....##.##........##...##..##.....##
..######..#####....######......##....##.......#########.######...##.....##.########.
.......##.##..##...##..........##....##.......##.....##.##.......#########.##.....##
.##....##.##...##..##..........##....##....##.##.....##.##.......##.....##.##.....##
..######..##....##.########....##.....######..##.....##.##.......##.....##.########.
*/

.sketchfab-embed-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
}

.sketchfab-embed-wrapper iframe {
  min-width: -webkit-fill-available;
  /* min-height: -webkit-fill-available; */
  min-height: 600;
}

/*
.########...######.
.##.....##.##....##
.##.....##.##......
.########...######.
.##.....##.......##
.##.....##.##....##
.########...######.
*/

.btn-outline-secondary {
  color: #3c3c3c;
  border: none;
}

/*
..######.....###....########..########...######.
.##....##...##.##...##.....##.##.....##.##....##
.##........##...##..##.....##.##.....##.##......
.##.......##.....##.########..##.....##..######.
.##.......#########.##...##...##.....##.......##
.##....##.##.....##.##....##..##.....##.##....##
..######..##.....##.##.....##.########...######.
*/

.heading-home {
  margin-top: 10px;
}

.card-home {
  border-radius: 0 !important;
  font-family: 'IBM Plex Mono', monospace !important;
}

.card-header {
  text-align: left;
}
.sticker-title{
  background-color: #000000 !important;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 16px;
  padding-right: 16px;
  color: white !important;
  font-size: 0.9rem;
  text-transform: UPPERCASE;
  font-weight: bold;
  margin: -10px;
}

.card-home p{
  font-size: 0.9rem;
  font-family: 'IBM Plex Mono', monospace !important;

}

.card-home .card-header {
    background-color: initial;
    border-bottom: none;
    margin: -13px;
}

.card-img-top {
  max-height: 200px !important;
  width: auto !important;
  padding-top: 20px !important;
}

.card {
  border: 3px solid rgb(0, 0, 0);
}

.card-footer {
  padding: none;
  background-color: #fff;
  border-top: none;
}

/* IPAD */
@media (min-width: 576px) {
  .card-deck .card {
    margin-left: 5px;
    margin-right: 5px;
  }

  .sticker-title{
    background-color: #000000 !important;
    padding-top: 4px;
    padding-bottom: 3px;
    padding-left: 13px;
    padding-right: 13px;
    color: white !important;
    font-size: 0.8rem;
    text-transform: UPPERCASE;
    font-weight: bold;
    margin: -10px;
  }

  h4 {
    font-size: 1.3em !important;
    font-weight: bold;
  }

  .card-columns {
    column-count: 2;
  }    
  
}


.btn:hover {
  color: #fff !important;
  text-decoration: none;
}

.btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:active, .btn-outline-secondary.active, .open>.dropdown-toggle.btn-outline-secondary {
  color: #000 !important;
  background-color: #fff;
}


em {
  font-style: unset;
  background-color: #000000;
  color: white;
  padding: 1px;
}
