<!-- CONTENT -->

<body style="background-image: url(./assets/images/global/white.png)">
  <div class="container container-narrow">
    <div class="content">
      <div class="row-fluid post-full">
        <div class="span12">
          <div class="content" style="padding-top: 23%">
            <h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
            <br>
            {{ content }}
          </div>
          <footer>
            <p><small>
                <a href="https://itl.pratt.edu">Pratt Productions</a>
                <br>v.0.1
              </small></p>
          </footer>
        </div>
      </div>
</body>